* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

nav {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 33%, rgba(8,7,107,1) 66%, rgba(2,0,36,1) 100%);
    padding: 20px;
    li {
        margin: 0 30px;
        display: inline-block;
        a {
            text-decoration: none;
            color: whitesmoke;
        }
    }
}

body {
    text-align: center;
    background-color: #f1eaea;
}

h1 {
    padding-top: 30px;
}